[submodule "lisp-gflags"]
	path = lisp-gflags
	url = git://github.com/lhope/lisp-gflags.git
[submodule "cl-czmq"]
	path = cl-czmq
	url = https://github.com/lhope/cl-czmq.git
[submodule "bordeaux-threads"]
	path = bordeaux-threads
	url = https://github.com/lhope/bordeaux-threads.git
[submodule "sb-daemon"]
	path = sb-daemon
	url = https://github.com/nikodemus/sb-daemon.git
[submodule "base"]
	path = base
	url = https://github.com/lhope/base.git
[submodule "cl-memcached"]
	path = cl-memcached
	url = https://github.com/lhope/cl-memcached.git
